<div class="d-flex align-items-center vh-100">
  <div class="mx-auto text-center shadow-sm bg-white rounded p-5 my-5">
    <form [formGroup]="form" (ngSubmit)="sendResetLink()">
      <h3>Recuperar Senha</h3>
      <p>Informe seu e-mail para receber um link de redefinição de senha.</p>

      <div class="mb-3">
        <label for="email">E-mail:</label>
        <input
          class="form-control"
          type="email"
          id="email"
          formControlName="email"
          placeholder="Insira o e-mail"
          [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }"
        />
        <div
          *ngIf="f.email.errors?.required && f.email.touched"
          class="invalid-feedback"
        >
          E-mail é obrigatório.
        </div>
        <div
          *ngIf="f.email.errors?.email && f.email.touched"
          class="invalid-feedback"
        >
          Deve ser um e-mail válido.
        </div>
        <div
          *ngIf="f.email.errors?.invalidDomain && f.email.touched"
          class="invalid-feedback"
        >
          O domínio do e-mail é inválido.
        </div>
      </div>

      <div class="d-grid gap-2 mt-3">
        <button [disabled]="!form.valid" class="btn btn-primary" type="submit">Enviar link</button>
      </div>
    </form>
  </div>
</div>
