<app-titulo [titulo]="'Calculadora de estadia'" [subtitulo]="'Calcule sua estadia aqui'" [iconClass]="'fa fa-calculator'" [botaoListar]="false"></app-titulo>
<div class="card rounded shadow-sm">
    <form [formGroup]="form">
        <div class="p-3" *ngIf="!certidaoGerada">
            <!-- <p>Form value: {{form.value | json}}</p>
         <p>Form valid: {{form.status | json}}</p> -->
            <div class="row">
                <div class="mb-3 col-md-2">
                    <label>Data de Chegada</label>
                    <input type="text" class="form-control" [ngClass]="cssValidator(f.dataChegada)" bsDatepicker [bsConfig]="bsConfig" formControlName="dataChegada" placeholder="" />
                    <div *ngIf="f.dataChegada.errors?.required && f.dataChegada.touched" class="invalid-feedback">
                        Data de Chegada é obrigatório
                    </div>
                </div>
                <div class="mb-3 col-md-2">
                    <label>Data de Saída</label>
                    <input type="text" class="form-control" [ngClass]="cssValidator(f.dataSaida)" bsDatepicker [bsConfig]="bsConfig" formControlName="dataSaida" placeholder="" />
                    <div *ngIf="f.dataSaida.errors?.required && f.dataSaida.touched" class="invalid-feedback">
                        Data de Saída é obrigatório
                    </div>
                    <!-- Mensagem de erro para datas inválidas -->
                    <div *ngIf="dataInvalida" class="invalid-feedback" style="display: block;">
                        Data de Saída não pode ser anterior à Data de Chegada
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-2">
                    <label>Hora de Chegada</label>
                    <ngb-timepicker formControlName="horaChegada" [ngClass]="cssValidator(f.horaChegada)" />
                    <div *ngIf="f.horaChegada.errors?.required && f.horaChegada.touched" class="invalid-feedback">
                        Hora de Chegada é obrigatório
                    </div>
                </div>

                <div class="mb-3 col-md-2">
                    <label>Hora de Saída</label>
                    <ngb-timepicker formControlName="horaSaida" [ngClass]="cssValidator(f.horaSaida)" />
                    <div *ngIf="f.horaSaida.errors?.required && f.horaSaida.touched" class="invalid-feedback">
                        Hora de Saída é obrigatório
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-3">
                    <label>Capacidade de Carga do Veículo ( t )</label>
                    <input type="number" class="form-control" [ngClass]="cssValidator(f.capacidadeCargaVeiculo)" formControlName="capacidadeCargaVeiculo" placeholder="" />
                    <div
                        *ngIf="
              f.capacidadeCargaVeiculo.errors?.required &&
              f.capacidadeCargaVeiculo.touched
            "
                        class="invalid-feedback"
                    >
                        Capacidade de Carga é obrigatório
                    </div>
                </div>
                <div class="mb-3 col-md-2">
                    <label>Valor da Hora</label>
                    <input type="text" class="form-control" value="R$ 2,41" disabled="true" />
                </div>
            </div>
            <div>
                <button class="btn btn-success me-3" [disabled]="!form.valid" (click)="calcularEstadia(2.41)">
                    <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
                    Calcular Estadia
                </button>
                <button class="btn btn-outline-secondary border" (click)="resetForm()">
                    Cancelar
                </button>
            </div>
            <br />
            <div class="mb-3 col-md-2" *ngIf="valorCalculado !== ''">
                <label><b>Valor Calculado</b></label>
                <input type="text" class="form-control" [value]="valorCalculado" [disabled]="true" />
            </div>
            <div class="mb-3 col-md-2" *ngIf="valorCalculado !== '' && !certidaoGerada">
                <button class="btn btn-success" (click)="exibirCamposPreencherCertidao()">
                    Preencher Certidão
                </button>
            </div>
        </div>
    </form>
    <br />
    <form [formGroup]="formCertidao">
        <div class="p-3" *ngIf="dadosCertidaoVisivel">
            <h4>Dados do Motorista</h4>
            <div class="row">
                <div class="mb-3 col-md-2">
                    <label>Placa</label>
                    <input type="text" class="form-control is-invalid" formControlName="placa" mask="AAA-0A00" style="text-transform: uppercase;" [ngClass]="cssValidator(fc.placa)" />
                    <div *ngIf="fc.placa.errors?.required && fc.placa.touched" class="invalid-feedback">
                        Placa é obrigatório
                    </div>
                </div>
                <div class="mb-3 col-md-3">
                    <label>RNTRC (Opcional)</label>
                    <input type="number" class="form-control" formControlName="rntrc" />
                </div>
                <div class="mb-3 col-md-4">
                    <label>Nome Motorista</label>
                    <input type="text" class="form-control is-invalid" formControlName="nomeMotorista" [ngClass]="cssValidator(fc.nomeMotorista)" />
                    <div
                        *ngIf="
              fc.nomeMotorista.errors?.required && fc.nomeMotorista.touched
            "
                        class="invalid-feedback"
                    >
                        Nome do Motorista é obrigatório
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-sm-2">
                    <label>CPF/CNPJ do Motorista</label>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="cpfCnpjMotorista"
                        [value]="formattedValueMotorista"
                        (input)="onInput($event, 'cpfCnpjMotorista')"
                        [ngClass]="cssValidator(fc.cpfCnpjMotorista)"
                        placeholder="Digite CPF/CNPJ"
                        maxlength="18"
                    />
                    <div *ngIf="fc.cpfCnpjMotorista?.errors?.cpfInvalido && fc.cpfCnpjMotorista.touched" class="invalid-feedback">
                        CPF inválido
                    </div>
                    <div *ngIf="fc.cpfCnpjMotorista?.errors?.cnpjInvalido && fc.cpfCnpjMotorista.touched" class="invalid-feedback">
                        CNPJ inválido
                    </div>
                    <div *ngIf="fc.cpfCnpjMotorista?.errors?.required && fc.cpfCnpjMotorista.touched" class="invalid-feedback">
                        CPF/CNPJ é obrigatório
                    </div>
                </div>
                <div class="mb-3 col-md-3">
                    <label>E-mail</label>
                    <input type="text" class="form-control" [ngClass]="cssValidator(fc.emailMotorista)" formControlName="emailMotorista" placeholder="E-mail" />
                    <div *ngIf="fc.emailMotorista.errors?.required && fc.emailMotorista.touched" class="invalid-feedback">
                        E-mail é obrigatório
                    </div>
                    <div *ngIf="fc.emailMotorista.errors?.email && fc.emailMotorista.touched" class="invalid-feedback">
                        Deve ser um e-mail válido
                    </div>
                    <div *ngIf="fc.emailMotorista.errors?.invalidDomain && fc.emailMotorista.touched" class="invalid-feedback">
                        O domínio do e-mail é inválido.
                    </div>
                </div>
                <div class="mb-3 col-md-2">
                    <label>Telefone</label>
                    <input type="text" class="form-control" mask="(00) 0 0000-0000" [ngClass]="cssValidator(fc.telefoneMotorista)" formControlName="telefoneMotorista" placeholder="(00) 9 0000-0000" />
                    <div
                        *ngIf="
              fc.telefoneMotorista.errors?.required &&
              fc.telefoneMotorista.touched
            "
                        class="invalid-feedback"
                    >
                        Telefone é obrigatório
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-2">
                    <label>CEP</label>
                    <input
                        type="text"
                        class="form-control"
                        [ngClass]="cssValidator(fc.cepMotorista)"
                        formControlName="cepMotorista"
                        [(ngModel)]="cepMotoristaInserido"
                        (blur)="BuscarPorCep(cepMotoristaInserido, 'Motorista')"
                        placeholder="CEP"
                        mask="00000-000"
                    />
                </div>
                <div class="mb-3 col-md-4">
                    <label>Logradouro</label>
                    <input type="text" class="form-control" [ngClass]="cssValidator(fc.logradouroMotorista)" formControlName="logradouroMotorista" placeholder="Logradouro" />
                </div>
                <div class="mb-3 col-md-1">
                    <label>Numero</label>
                    <input type="text" class="form-control" formControlName="numeroMotorista" placeholder="Ex: 55" />
                </div>
                <div class="mb-3 col-md-2">
                    <label>Complemento</label>
                    <input type="text" class="form-control" formControlName="complementoMotorista" placeholder="Ex: Apartamento 401" />
                </div>
                <div class="mb-3 col-md-2">
                    <label>Bairro</label>
                    <input type="text" class="form-control" formControlName="bairroMotorista" [ngClass]="cssValidator(fc.bairroMotorista)" placeholder="Bairro" />
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-sm-3">
                    <label>Estado</label>
                    <select class="form-select" [ngClass]="cssValidator(fc.estadoMotorista)" formControlName="estadoMotorista" (ngModelChange)="FiltrarPorEstado($event, 'Motorista')">
                        <option value="" disabled selected>Selecione um estado</option>
                        <option *ngFor="let item of estados" [ngValue]="item.sigla">
                          {{ item.nome }}
                        </option>
                      </select>
                </div>
                <div class="mb-3 col-sm-3">
                    <label>Cidade</label>
                    <select class="form-select" formControlName="cidadeMotorista">
                        <option value="" disabled selected>Selecione uma cidade</option>
                        <option *ngFor="let item of municipiosMotorista" [ngValue]="item.nome">
                          {{ item.nome }}
                        </option>
                      </select>
                </div>
            </div>
            <br />
            <h4>Dados do Local de Carga</h4>
            <div class="row">
                <div class="mb-3 col-sm-2">
                    <label>CPF/CNPJ Local de Carga</label>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="cpfCnpjLocalCarga"
                        [value]="formattedValueLocalCarga"
                        (input)="onInput($event, 'cpfCnpjLocalCarga')"
                        [ngClass]="cssValidator(fc.cpfCnpjLocalCarga)"
                        placeholder="Digite CPF/CNPJ"
                        maxlength="18"
                    />
                </div>
                <div class="mb-3 col-md-4">
                    <label>Nome do Local de Carga</label>
                    <input type="text" class="form-control is-invalid" formControlName="nomeLocalCarga" [ngClass]="cssValidator(fc.nomeLocalCarga)" />
                    <div
                        *ngIf="
              fc.nomeLocalCarga.errors?.required && fc.nomeLocalCarga.touched
            "
                        class="invalid-feedback"
                    >
                        Nome do Local de Carga é obrigatório
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-3">
                    <label>E-mail</label>
                    <input type="text" class="form-control" [ngClass]="cssValidator(fc.emailLocalCarga)" formControlName="emailLocalCarga" placeholder="E-mail" />
                    <div *ngIf="fc.emailLocalCarga.errors?.email && fc.emailLocalCarga.touched" class="invalid-feedback">
                        Deve ser um e-mail válido
                    </div>
                    <div *ngIf="fc.emailLocalCarga.errors?.invalidDomain && fc.emailLocalCarga.touched" class="invalid-feedback">
                        O domínio do e-mail é inválido.
                    </div>
                </div>
                <div class="mb-3 col-md-2">
                    <label>Telefone</label>
                    <input type="text" class="form-control" mask="(00) 0 0000-0000" [ngClass]="cssValidator(fc.telefoneLocalCarga)" formControlName="telefoneLocalCarga" placeholder="(00) 9 0000-0000" />
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-2">
                    <label>CEP</label>
                    <input
                        type="text"
                        class="form-control"
                        [ngClass]="cssValidator(fc.cepLocalCarga)"
                        formControlName="cepLocalCarga"
                        [(ngModel)]="cepLocalCargaInserido"
                        (blur)="BuscarPorCep(cepLocalCargaInserido, 'LocalCarga')"
                        placeholder="CEP"
                        mask="00000-000"
                    />
                    <div
                        *ngIf="
              fc.cepLocalCarga.errors?.required && fc.cepLocalCarga.touched
            "
                        class="invalid-feedback"
                    >
                        CEP é obrigatório
                    </div>
                </div>
                <div class="mb-3 col-md-4">
                    <label>Logradouro</label>
                    <input type="text" class="form-control" [ngClass]="cssValidator(fc.logradouroLocalCarga)" formControlName="logradouroLocalCarga" placeholder="Logradouro" />
                    <div
                        *ngIf="
              fc.logradouroLocalCarga.errors?.required &&
              fc.logradouroLocalCarga.touched
            "
                        class="invalid-feedback"
                    >
                        Logradouro é obrigatório
                    </div>
                </div>
                <div class="mb-3 col-md-1">
                    <label>Numero</label>
                    <input type="text" class="form-control" [ngClass]="cssValidator(fc.numeroLocalCarga)" formControlName="numeroLocalCarga" placeholder="Ex: 55" />
                    <div *ngIf="fc.numeroLocalCarga.errors?.required && fc.numeroLocalCarga.touched" class="invalid-feedback">
                        Numero é obrigatório
                    </div>
                </div>
                <div class="mb-3 col-md-2">
                    <label>Complemento</label>
                    <input type="text" class="form-control" formControlName="complementoLocalCarga" placeholder="Ex: Apartamento 401" />
                </div>
                <div class="mb-3 col-md-2">
                    <label>Bairro</label>
                    <input type="text" class="form-control" formControlName="bairroLocalCarga" [ngClass]="cssValidator(fc.bairroLocalCarga)" placeholder="Bairro" />
                    <div
                        *ngIf="
              fc.bairroLocalCarga.errors?.required &&
              fc.bairroLocalCarga.touched
            "
                        class="invalid-feedback"
                    >
                        Bairro é obrigatório
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-sm-3">
                    <label>Estado</label>
                    <select class="form-select" [ngClass]="cssValidator(fc.estadoLocalCarga)" formControlName="estadoLocalCarga" (ngModelChange)="FiltrarPorEstado($event, 'LocalCarga')">
                        <option value="" disabled selected>Selecione um estado</option>
                        <option *ngFor="let item of estados" [ngValue]="item.sigla">
                          {{ item.nome }}
                        </option>
                      </select>                      
                    <div
                        *ngIf="
              fc.estadoLocalCarga.errors?.required &&
              fc.estadoLocalCarga.touched
            "
                        class="invalid-feedback"
                    >
                        Estado é obrigatório
                    </div>
                </div>
                <div class="mb-3 col-sm-3">
                    <label>Cidade</label>
                    <select class="form-select" formControlName="cidadeLocalCarga">
                        <option value="" disabled selected>Selecione uma cidade</option>
                        <option *ngFor="let item of municipiosLocalCarga" [ngValue]="item.nome">
                          {{ item.nome }}
                        </option>
                      </select>                      
                    <div
                        *ngIf="
              fc.cidadeLocalCarga.errors?.required &&
              fc.cidadeLocalCarga.touched
            "
                        class="invalid-feedback"
                    >
                        Cidade é obrigatório
                    </div>
                </div>
            </div>
            <br />
            <h4>Dados do Local de Descarga</h4>
            <div class="row">
                <div class="mb-3 col-sm-3">
                    <label>CPF/CNPJ Local de Descarga</label>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="cpfCnpjLocalDescarga"
                        [value]="formattedValueLocalDescarga"
                        (input)="onInput($event, 'cpfCnpjLocalDescarga')"
                        [ngClass]="cssValidator(fc.cpfCnpjLocalCarga)"
                        placeholder="Digite CPF/CNPJ"
                        maxlength="18"
                    />
                    <div *ngIf="fc.cpfCnpjLocalDescarga?.errors?.cpfInvalido && fc.cpfCnpjLocalDescarga.touched" class="invalid-feedback">
                        CPF inválido
                    </div>
                    <div *ngIf="fc.cpfCnpjLocalDescarga?.errors?.cnpjInvalido && fc.cpfCnpjLocalDescarga.touched" class="invalid-feedback">
                        CNPJ inválido
                    </div>
                </div>
                <div class="mb-3 col-md-4">
                    <label>Nome do Local de Descarga</label>
                    <input type="text" class="form-control is-invalid" formControlName="nomeLocalDescarga" [ngClass]="cssValidator(fc.nomeLocalDescarga)" />
                    <div
                        *ngIf="
              fc.nomeLocalDescarga.errors?.required &&
              fc.nomeLocalDescarga.touched
            "
                        class="invalid-feedback"
                    >
                        Nome do Local de Descarga é obrigatório
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-3">
                    <label>E-mail</label>
                    <input type="text" class="form-control" [ngClass]="cssValidator(fc.emailLocalDescarga)" formControlName="emailLocalDescarga" placeholder="E-mail" />
                    <div *ngIf="fc.emailLocalDescarga.errors?.email && fc.emailLocalDescarga.touched" class="invalid-feedback">
                        Deve ser um e-mail válido
                    </div>
                    <div *ngIf="fc.emailLocalDescarga.errors?.invalidDomain && fc.emailLocalDescarga.touched" class="invalid-feedback">
                        O domínio do e-mail é inválido.
                    </div>
                </div>
                <div class="mb-3 col-md-2">
                    <label>Telefone</label>
                    <input type="text" class="form-control" mask="(00) 0 0000-0000" [ngClass]="cssValidator(fc.telefoneLocalDescarga)" formControlName="telefoneLocalDescarga" placeholder="(00) 9 0000-0000" />
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-2">
                    <label>CEP</label>
                    <input
                        type="text"
                        class="form-control"
                        [ngClass]="cssValidator(fc.cepLocalDescarga)"
                        formControlName="cepLocalDescarga"
                        [(ngModel)]="cepLocalDescargaInserido"
                        (blur)="BuscarPorCep(cepLocalDescargaInserido, 'LocalDescarga')"
                        placeholder="CEP"
                        mask="00000-000"
                    />
                    <div
                        *ngIf="
              fc.cepLocalDescarga.errors?.required &&
              fc.cepLocalDescarga.touched
            "
                        class="invalid-feedback"
                    >
                        CEP é obrigatório
                    </div>
                </div>
                <div class="mb-3 col-md-4">
                    <label>Logradouro</label>
                    <input type="text" class="form-control" [ngClass]="cssValidator(fc.logradouroLocalDescarga)" formControlName="logradouroLocalDescarga" placeholder="Logradouro" />
                    <div
                        *ngIf="
              fc.logradouroLocalDescarga.errors?.required &&
              fc.logradouroLocalDescarga.touched
            "
                        class="invalid-feedback"
                    >
                        Logradouro é obrigatório
                    </div>
                </div>
                <div class="mb-3 col-md-1">
                    <label>Numero</label>
                    <input type="text" class="form-control" [ngClass]="cssValidator(fc.numeroLocalDescarga)" formControlName="numeroLocalDescarga" placeholder="Ex: 55" />
                    <div *ngIf="fc.numeroLocalDescarga.errors?.required && fc.numeroLocalDescarga.touched" class="invalid-feedback">
                        Numero é obrigatório
                    </div>
                </div>
                <div class="mb-3 col-md-2">
                    <label>Complemento</label>
                    <input type="text" class="form-control" formControlName="complementoLocalDescarga" placeholder="Ex: Apartamento 401" />
                </div>
                <div class="mb-3 col-md-2">
                    <label>Bairro</label>
                    <input type="text" class="form-control" [ngClass]="cssValidator(fc.bairroLocalDescarga)" formControlName="bairroLocalDescarga" placeholder="Bairro" />
                    <div
                        *ngIf="
              fc.bairroLocalDescarga.errors?.required &&
              fc.bairroLocalDescarga.touched
            "
                        class="invalid-feedback"
                    >
                        Bairro é obrigatório
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-sm-3">
                    <label>Estado</label>
                    <select class="form-select" [ngClass]="cssValidator(fc.estadoLocalDescarga)" formControlName="estadoLocalDescarga" (ngModelChange)="FiltrarPorEstado($event, 'LocalDescarga')">
                        <option value="" disabled selected>Selecione um estado</option>
                        <option *ngFor="let item of estados" [ngValue]="item.sigla">
                          {{ item.nome }}
                        </option>
                      </select>                      
                    <div
                        *ngIf="
              fc.estadoLocalDescarga.errors?.required &&
              fc.estadoLocalDescarga.touched
            "
                        class="invalid-feedback"
                    >
                        Estado é obrigatório
                    </div>
                </div>
                <div class="mb-3 col-sm-3">
                    <label>Cidade</label>
                    <select class="form-select" formControlName="cidadeLocalDescarga">
                        <option value="" disabled selected>Selecione uma cidade</option>
                        <option *ngFor="let item of municipiosLocalDescarga" [ngValue]="item.nome">
                          {{ item.nome }}
                        </option>
                      </select>                      
                    <div
                        *ngIf="
              fc.cidadeLocalDescarga.errors?.required &&
              fc.cidadeLocalDescarga.touched
            "
                        class="invalid-feedback"
                    >
                        Cidade é obrigatório
                    </div>
                </div>
            </div>
            <br />
            <h4>Dados do Contratante/Transportadora</h4>
            <div class="row">
                <div class="mb-3 col-md-3">
                    <label>CTe/CIOT</label>
                    <input type="text" class="form-control" formControlName="cteCiotContratante" />
                </div>
                <div class="mb-3 col-sm-2">
                    <label>CPF/CNPJ do Pagador</label>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="cpfCnpjContratante"
                        [value]="formattedValueContratante"
                        (input)="onInput($event, 'cpfCnpjContratante')"
                        [ngClass]="cssValidator(fc.cpfCnpjContratante)"
                        placeholder="Digite CPF/CNPJ"
                        maxlength="18"
                    />
                    <div *ngIf="fc.cpfCnpjContratante?.errors?.cpfInvalido && fc.cpfCnpjContratante.touched" class="invalid-feedback">
                        CPF inválido
                    </div>
                    <div *ngIf="fc.cpfCnpjContratante?.errors?.cnpjInvalido && fc.cpfCnpjContratante.touched" class="invalid-feedback">
                        CNPJ inválido
                    </div>
                </div>
                <div class="mb-3 col-md-4">
                    <label>Nome do Contratante da Carga e Descarga</label>
                    <input type="text" class="form-control is-invalid" formControlName="nomeContratante" [ngClass]="cssValidator(fc.nomeContratante)" />
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-3">
                    <label>E-mail</label>
                    <input type="text" class="form-control" [ngClass]="cssValidator(fc.emailContratante)" formControlName="emailContratante" placeholder="E-mail" />
                    <div *ngIf="fc.emailContratante.errors?.email && fc.emailContratante.touched" class="invalid-feedback">
                        Deve ser um e-mail válido
                    </div>
                    <div *ngIf="fc.emailContratante.errors?.invalidDomain && fc.emailContratante.touched" class="invalid-feedback">
                        O domínio do e-mail é inválido.
                    </div>
                </div>
                <div class="mb-3 col-md-2">
                    <label>Telefone</label>
                    <input type="text" class="form-control" mask="(00) 0 0000-0000" [ngClass]="cssValidator(fc.telefoneContratante)" formControlName="telefoneContratante" placeholder="(00) 9 0000-0000" />
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-2">
                    <label>CEP</label>
                    <input
                        type="text"
                        class="form-control"
                        [ngClass]="cssValidator(fc.cepContratante)"
                        formControlName="cepContratante"
                        [(ngModel)]="cepContratanteInserido"
                        (blur)="BuscarPorCep(cepContratanteInserido, 'Contratante')"
                        placeholder="CEP"
                        mask="00000-000"
                    />
                </div>
                <div class="mb-3 col-md-4">
                    <label>Logradouro</label>
                    <input type="text" class="form-control" [ngClass]="cssValidator(fc.logradouroContratante)" formControlName="logradouroContratante" placeholder="Logradouro" />
                </div>
                <div class="mb-3 col-md-1">
                    <label>Numero</label>
                    <input type="text" class="form-control" formControlName="numeroContratante" placeholder="Ex: 55" />
                </div>
                <div class="mb-3 col-md-2">
                    <label>Complemento</label>
                    <input type="text" class="form-control" formControlName="complementoContratante" placeholder="Ex: Apartamento 401" />
                </div>
                <div class="mb-3 col-md-2">
                    <label>Bairro</label>
                    <input type="text" class="form-control" formControlName="bairroContratante" [ngClass]="cssValidator(fc.bairroContratante)" placeholder="Bairro" />
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-sm-3">
                    <label>Estado</label>
                    <select class="form-select" [ngClass]="cssValidator(fc.estadoContratante)" formControlName="estadoContratante" (ngModelChange)="FiltrarPorEstado($event, 'Contratante')">
                        <option value="" disabled selected>Selecione um estado</option>
                        <option *ngFor="let item of estados" [ngValue]="item.sigla">
                          {{ item.nome }}
                        </option>
                      </select>
                </div>
                <div class="mb-3 col-sm-3">
                    <label>Cidade</label>
                    <select class="form-select" formControlName="cidadeContratante">
                        <option value="" disabled selected>Selecione uma cidade</option>
                        <option *ngFor="let item of municipiosContratante" [ngValue]="item.nome">
                          {{ item.nome }}
                        </option>
                      </select>
                </div>
            </div>
            <div>
                <button class="btn btn-success me-2" (click)="salvarCertidao()">Gerar Certidão</button>                
            </div>     
            <br />
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column text-center p-5" *ngIf="certidaoGerada">
            <div class="card shadow p-4" style="max-width: 600px; width: 100%;">
              <h4 class="text-success mb-3">
                ✅ Certidão gerada com sucesso!
              </h4>
              <p class="mb-3">
                Ela foi enviada para a equipe responsável. Em breve entraremos em contato com você.
              </p>
              <p class="mb-4">
                Verifique seus downloads. Caso não tenha baixado, envie uma segunda via por e-mail clicando no botão abaixo.
              </p>
              <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#emailModal" [disabled]="!botaoSegundaViaHabilitado">
                Enviar 2ª via por E-mail
              </button>
            </div>
          </div>          
    </form>
</div>
<!-- Modal para inserir o e-mail -->
<div class="modal fade" id="emailModal" tabindex="-1" aria-labelledby="emailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="emailModalLabel">Enviar PDF por E-mail</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="emailForm">
            <div class="mb-3">
              <label for="emailInput" class="form-label">E-mail</label>
              <input type="email" id="emailInput" formControlName="email" class="form-control" placeholder="Digite o e-mail" />
              <div *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched" class="text-danger">
                E-mail inválido.
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" [disabled]="emailForm.invalid" (click)="enviarPdfPorEmail()">Enviar PDF</button>
        </div>
      </div>
    </div>
  </div>
