<nav class="navbar navbar-expand-lg navbar-light btn-white shadow-sm" *ngIf="showMenu()">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">
      <img src="assets/logo.png" height="48">
    </a>
    <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true" id="navbarNav">
      <ul class="navbar-nav me-auto" style="font-size: 20px !important;">
        <!-- Menus que aparecem apenas quando logado -->
        <ng-container *ngIf="(accountService.currentUser$ | async) !== null">
          <!-- Menus visíveis apenas para Administradores -->
          <ng-container *ngIf="(accountService.currentUser$ | async)?.userRoles?.includes('Administrador')">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" aria-current="page" routerLink="dashboard">Dashboard</a>
            </li>
            <ul class="navbar-nav">
              <li class="nav-item dropdown" dropdown>
                <a dropdownToggle class="nav-link dropdown-toggle" style="cursor: pointer;" id="navbarDropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Motorista
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" routerLink="motoristas/detalhe">Cadastrar</a>
                  <div role="separator" class="divider"></div>
                  <a class="dropdown-item" routerLink="motoristas/busca-por-cpf">Consultar por CPF</a>
                  <a class="dropdown-item" routerLink="motoristas/busca-por-regiao">Consultar por região</a>
                </div>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item dropdown" dropdown>
                <a dropdownToggle class="nav-link dropdown-toggle" style="cursor: pointer;" id="navbarDropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Veículos
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" routerLink="veiculos/cadastrar-veiculo-por-motorista">Cadastrar</a>
                  <div role="separator" class="divider"></div>
                  <a class="dropdown-item" routerLink="veiculos/busca-veiculo-por-placa">Consultar por placa</a>
                  <a class="dropdown-item" routerLink="veiculos/busca-veiculo-por-motorista">Consultar por motorista</a>
                </div>
              </li>
            </ul>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" aria-current="page" routerLink="calcula-estadia">Calcula de estadia</a>
            </li>
          </ng-container>

          <!-- Menus visíveis apenas para Motoristas -->
          <ng-container *ngIf="(accountService.currentUser$ | async)?.userRoles?.includes('Motorista') && !(accountService.currentUser$ | async)?.userRoles?.includes('Admin')">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" aria-current="page" routerLink="calcula-estadia">Calcula de estadia</a>
            </li>
          </ng-container>
        </ng-container>

        <!-- Menu público "Calcula Estadia" -->
        <li *ngIf="(accountService.currentUser$ | async) === null" class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" routerLink="calcula-estadia">Calcula de estadia</a>
        </li>
      </ul>

      <!-- Botões para login e cadastro quando não logado -->
      <div *ngIf="(accountService.currentUser$ | async) === null" class="navbar-nav ms-auto">
        <a class="btn btn-light me-2 border" routerLink="/user/login">Entrar</a>
        <a class="btn btn-warning mr-2" routerLink="/user/registration">Me Cadastrar</a>
      </div>      

      <!-- Menu de usuário logado -->
      <ul *ngIf="(accountService.currentUser$ | async) !== null" class="navbar-nav">
        <li *ngIf="(accountService.currentUser$ | async) as user" class="nav-item dropdown" dropdown>
          <a dropdownToggle class="nav-link dropdown-toggle" style="cursor: pointer;" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{user.nomeCompleto | titlecase}}
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="user/perfil">Perfil</a>
            <div role="separator" class="divider"></div>
            <a (click)="logout()" class="dropdown-item" style="cursor: pointer;">Sair</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
