<app-titulo [titulo]="'Perfil'" [subtitulo]="'Dados pessoais'" [iconClass]="'fa fa-user-circle'"></app-titulo>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row p-3">
    <div class="col-lg-3 pt-1">
      <div class="card mb-3">
        <div class="card-header"></div>
        <div class="d-flex align-self-center pt-3">
          <a>
            <img
              src="https://i.pinimg.com/564x/51/65/bb/5165bbc3564b4296c70371b75c9774b0.jpg"
              name="aboutme" width="120" height="120" class="rounded-circle">
          </a>
        </div>
        <div class="card-body">
          <div class="h4 text-center mb-3">{{f.nomeCompleto.value}}</div>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row">
        <div class="mb-3 col-12">
          <h3 class="border-bottom">Detalhe Perfil</h3>
        </div>
        <div class="mb-3 col-sm-5">
          <label>Nome Completo</label>
          <input type="text" formControlName="nomeCompleto" class="form-control" placeholder="Insira o nome completo"
            [ngClass]="{ 'is-invalid': f.nomeCompleto.errors && f.nomeCompleto.touched }" />
          <div *ngIf="f.nomeCompleto.errors && f.nomeCompleto.touched" class="invalid-feedback">
            <div *ngIf="f.nomeCompleto.errors.required">Nome Completo é obrigatório</div>
          </div>
        </div>
        <div class="mb-3 col-sm-5">
          <label for="">Email:</label>
          <input
            class="form-control"
            type="text"
            formControlName="email"
            [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }"
            placeholder="Insira o e-mail"
          />
          <div
            *ngIf="f.email.errors?.required && f.email.touched"
            class="invalid-feedback"
          >
            e-mail é obrigatório.
          </div>
          <div
            *ngIf="f.email.errors?.email && f.email.touched"
            class="invalid-feedback"
          >
            Deve ser um e-mail válido.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-3">
          <label>Telefone</label>
          <input type="text" class="form-control" mask="(00) 0 0000-0000"
            [ngClass]="{ 'is-invalid': f.telefone.errors && f.telefone.touched }" formControlName="telefone"
            placeholder="(00) 9 0000-0000">
          <div *ngIf="f.telefone.errors?.required && f.telefone.touched" class="invalid-feedback">
            Telefone é obrigatório
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex">
    <button type="submit" class="btn btn-success ms-auto" [disabled]="!form.valid">
      Salvar Alteração
    </button>
  </div>
</form>
