<div class="row mt-4">
  <div class="col-md-6 mx-auto">
    <form [formGroup]="form" (ngSubmit)="resetPassword()">
      <div class="pb-2">
        <h3 class="border-bottom">Redefinir Senha</h3>
      </div>

      <div class="row">
        <div class="mb-3">
          <label for="newPassword">Nova Senha:</label>
          <input
            type="password"
            class="form-control"
            formControlName="newPassword"
            [ngClass]="{
              'is-invalid': f.newPassword.errors && f.newPassword.touched
            }"
            placeholder="Digite sua nova senha"
          />
          <div
            *ngIf="f.newPassword.errors?.required && f.newPassword.touched"
            class="invalid-feedback"
          >
            A senha é obrigatória.
          </div>
          <div
            *ngIf="f.newPassword.errors?.minlength && f.newPassword.touched"
            class="invalid-feedback"
          >
            A senha deve ter no mínimo 6 caracteres.
          </div>
        </div>

        <div class="mb-3">
          <label for="confirmPassword">Confirmar Senha:</label>
          <input
            type="password"
            class="form-control"
            formControlName="confirmPassword"
            [ngClass]="{
              'is-invalid': f.confirmPassword.errors && f.confirmPassword.touched
            }"
            placeholder="Confirme sua nova senha"
          />
          <div
            *ngIf="f.confirmPassword.errors?.required && f.confirmPassword.touched"
            class="invalid-feedback"
          >
            Confirmar a senha é obrigatório.
          </div>
          <div
            *ngIf="f.confirmPassword.errors?.mustMatch && f.confirmPassword.touched"
            class="invalid-feedback"
          >
            As senhas devem coincidir.
          </div>
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="form.invalid"
      >
        Redefinir Senha
      </button>
    </form>
  </div>
</div>
